<div class="menuTop">
  <button mat-flat-button [matMenuTriggerFor]="menuCadastro" color="primary">
    Sign Up
  </button>
  <button mat-flat-button [matMenuTriggerFor]="menuPrincipal" color="primary">
    Login
  </button>
</div>

<mat-menu #menuCadastro>
  <button mat-menu-item color="primary" [routerLink]="['company']">
    Company
  </button>
  <button mat-menu-item color="primary" [routerLink]="['client']">
    Clients
  </button>
</mat-menu>
<mat-menu #menuPrincipal>
  <button mat-menu-item color="primary">Admin</button>
  <button mat-menu-item color="primary">Company</button>
  <button mat-menu-item color="primary">Clients</button>
</mat-menu>
