<div>
  <h1 class="title">Company Sing Up</h1>
  <div class="container">
    <form [formGroup]="formGroup" class="singUpForm" (ngSubmit)="saveClient()">
      <mat-error class="error" *ngIf="isError('companyName', 'required')">
        O nome é obrigatório
      </mat-error>

      <mat-form-field class="field">
        <mat-label>Name</mat-label>
        <input matInput name="name" formControlName="companyName" />
      </mat-form-field>

      <mat-error class="error" *ngIf="isError('companyEmail', 'required')">
        O email é obrigatório
      </mat-error>
      <mat-error class="error" *ngIf="isError('companyEmail', 'email')">
        Por favor, insira um email válido
      </mat-error>

      <mat-form-field class="field">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="name@example.com"
          name="email"
          formControlName="companyEmail"
        />
      </mat-form-field>

      <mat-error class="error" *ngIf="isError('companyCNPJ', 'validateCNPJ')">
        Por favor, insira um CNPJ válido
      </mat-error>
      <mat-form-field class="field">
        <mat-label>CNPJ</mat-label>
        <input
          type="text"
          matInput
          placeholder="00.000.000/0000-00"
          name="cnpj"
          formControlName="companyCNPJ"
          maxlength="18"
          mask="00.000.000/0000-00"
        />
      </mat-form-field>

      <mat-error class="error" *ngIf="isError('companyPassword', 'required')">
        A senha é obrigatória
      </mat-error>
      <mat-error *ngIf="formGroup.get('companyPassword')?.hasError('minlength')"
        >A senha deve ter pelo menos 8 caracteres</mat-error
      >

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="companyPassword"
          name="companyPassword"
          id="companyPassword"
        />
        <a
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </a>
      </mat-form-field>

      <button type="submit" mat-flat-button color="accent" class="btnSave">
        Send
      </button>
    </form>
  </div>
</div>
